html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	z-index: -100;
}

body {
	background-attachment: fixed;
	background-image: url(green.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	overflow: hidden;
	font-family: helvetica, verdana, sans;
	z-index: -99;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.hidden {
	display: none;
}

.card, .stack {
	position: absolute;
}

.stack {
	z-index: -10;
}

#menu {
	display: inline-block;
	list-style: none;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	margin: 0 auto;
	border-radius: 0 0 15px 15px;
	border-style: solid;
	background: #eee;
	background: -webkit-linear-gradient(#fff, #ddd);
	background: -moz-linear-gradient(#fff, #ddd);
	box-shadow: 0 1px 12px 0.5px #000;
	left: 20%;
	height: 35px;
}

#menu li {
	height: 100%;
	float: left;
	border-right: 1px solid #444;
}

#menu li.end {
	border: none;
	border-radius: 0 0 15px 0;
}

#menu li.begin {
	border-radius: 0 0 0 15px;
}

#menu li:hover {
	background: #bbb -webkit-linear-gradient(#fff, #bbb);
	background: #bbb -moz-linear-gradient(#fff, #bbb);
}

#menu a {
	display: block;
	margin: 7px 0 -7px;
	padding: 0 10px;
	height: 100%;
}

#menu li.end a {
	padding-right: 12px;
}

#game-chooser h2 {
	font-size: 1.2em;
	cursor: pointer;
	padding-left: 1em;
}

p {
	margin-bottom: 1em;
}

#game-chooser.show {
	display: block;
}

#game-chooser, #options-chooser {
	display: none;
	position: absolute;
	background: #fff;
	left: 4em;
	top: 4em;
	width: 58em;
	height: 42em;
	z-index: 1001;
	padding-top: 2em;
	padding-right: 1em;
	border: 1px solid #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	-o-box-shadow: 2px 2px 5px #000;
	-box-shadow: 2px 2px 5px #000;
}

#game-chooser-contents > .description {
	position: absolute;
	top: 2.5em;
	left: 22em;
	width: 37em;
        font-size: 0.9em;
}

#game-chooser-contents {
	height: 100%;
}

#descriptions {
	width: 15em;
	background: #eec;
	padding-top: 2em;
	margin-top: -2em;
	height: 100%;
	overflow-y: scroll;
}

#descriptions div {
	display: none;
	position: absolute;
}

#descriptions li {
	padding: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #000;
}

#descriptions li:hover {
	background: #fff;
}

.selected {
	background: #fff;
}

.titlebar {
	height: 2em;
	width: 100%;
	background: #147243;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 1px #000 solid;
}

.close {
	position: absolute;
	right: 1px;
	top: -1px;
	background: url("x.gif");
	height: 35px;
	width: 35px;
	cursor: pointer;
}

#win_display {
	background-color: #EEC;
	width: 35em;
	height: 15em;
	margin: 0 auto;
	top: 5em;
	z-index: 1000;
	border-radius: 10px;
	padding: 1em 1em 2em 1em;
	-webkit-box-shadow: 0 0 10px 3px #fff;
	-moz-box-shadow: 0 0 10px 3px #fff;
	-o-box-shadow: 0 0 10px 3px #fff;
	-box-shadow: 0 0 10px 3px #fff;
}

#win_display > p {
	font-size: 2.2em;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

#win_display > h2 {
	margin-bottom: 1em;
	font-size: 1.3em;
}

#win_display ul {
	font-size: 1.1em;
}

#win_display li {
	margin-bottom: 0.2em;
}

#solver_bar {
	width: 500px;
	height: 15px;
	padding: 10px;
	background: black;
	background-image: -webkit-linear-gradient(#000, #222);
	background-image: -moz-linear-gradient(#000, #222);
	position: fixed;
	bottom: 0;
	left: 25%;
	border-radius: 15px 15px 0 0;
	color: #ddd;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 1px 12px 0.5px #000;
}

.indicator {
	float: left;
}

.controls {
	float: right;
	height: 20px;
	margin: -2px 50px 0 0;
	cursor: pointer;
}

.controls > div {
	margin-right: 15px;
	float: left;
}

.play {
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #ddd;
}

.play:hover {
	border-left-color: #32c700;
}

.pause {
	top: 0;
	width: 4px;
	height: 20px;
	border-color: #ddd;
	border-left: 5px solid;
	border-right: 5px solid;
}

.pause:hover {
	border-color: #32c700;
}

.rewind {
	top: 0;
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 15px solid #ddd;
}

.rewind:after {
	position: absolute;
	top: -10px;
	left: -3px;
	height: 20px;
	width: 4px;
	background: #ddd;
	content: "";
}

.rewind:hover {
	border-right-color: #32c700;
}

.rewind:hover:after {
	background: #32c700;
}

.fastforward {
	top: 0;
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #ddd;
}

.fastforward:after {
	position: absolute;
	top: -10px;
	right: -3px;
	height: 20px;
	width: 4px;
	background: #ddd;
	content: "";
}

.fastforward:hover {
	border-left-color: #32c700;
}

.fastforward:hover:after {
	background: #32c700;
}

.scrollable {
	overflow: scroll;
}

#fb {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

.layout {
	background-repeat: no-repeat;
	margin: 0 auto 10px auto;
}

.agnes .layout {
	background-image: url(layouts/agnes.png);
	width: 250px;
	height: 275px;
}

.flower-garden .layout {
	background-image: url(layouts/flower-garden.png);
	width: 248px;
	height: 350px;
}

.forty-thieves .layout {
	background-image: url(layouts/forty-thieves.png);
	width: 500px;
	height: 203px;
}

.freecell .layout {
	background-image: url(layouts/freecell.png);
	width: 500px;
	height: 293px;
}

.golf .layout {
	background-image: url(layouts/golf.png);
	width: 477px;
	height: 350px;
}

.grandfathers-clock .layout {
	background-image: url(layouts/gclock.png);
	width: 575px;
	height: 289px;
}

.klondike .layout {
	background-image: url(layouts/klondike.png);
	width: 500px;
	height: 277px;
}

.klondike1t .layout {
	background-image: url(layouts/klondike1t.png);
	width: 500px;
	height: 273px;
}

.monte-carlo .layout {
	background-image: url(layouts/montecarlo.png);
	width: 281px;
	height: 350px;
}

.pyramid .layout {
	background-image: url(layouts/pyramid.png);
	width: 409px;
	height: 300px;
}

.scorpion .layout {
	background-image: url(layouts/scorpion.png);
	width: 416px;
	height: 350px;
}

.spider .layout {
	background-image: url(layouts/spider.png);
	width: 500px;
	height: 185px;
}

.spider1s .layout {
	background-image: url(layouts/spider1s.png);
	width: 500px;
	height: 185px;
}

.spider2s .layout {
	background-image: url(layouts/spider2s.png);
	width: 500px;
	height: 185px;
}

.spiderette .layout {
        background-image: url(layouts/spiderette.png);
        width: 500px;
        height: 273px;
}

.tri-towers .layout {
	background-image: url(layouts/tritowers.png);
	width: 500px;
	height: 264px;
}

.will-o-the-wisp .layout {
	background-image: url(layouts/will-o-the-wisp.png);
	width: 500px;
	height: 244px;
}

.yukon .layout, .russian-solitaire .layout {
	background-image: url(layouts/yukon.png);
	width: 473px;
	height: 350px;
}

button {
	font-size: 18px;
	margin-right: 27px;
	background: white -webkit-linear-gradient(white, #EEC);
	padding: 6px 17px;
	border-radius: 5px;
	box-shadow: inset 0 0 3px 1px #fff;
	border: #000 solid 1px;
	text-shadow: 1px 1px 1px white;
	cursor: pointer;
}

.replay_options {
	display: table;
	margin: 20px auto;
}
