html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	z-index: -100;
}

body {
	background-attachment: fixed;
	background-image: url(green.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	overflow: hidden;
	font-family: helvetica, verdana, sans;
	z-index: -99;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.card, .stack {
	position: absolute;
}

.stack {
	z-index: -10;
}

#game {
	margin: 50px;
	width: 902px;
}

#menu {
	list-style: none;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	font-size: 1.25em;
	height: 2em;
}

#menu li {
	float: left;
	height: 100%;
	border-right: 1px solid #444;
}

#menu li:hover {
	background: #eec;
}

#menu a {
	display: block;
	margin: 7px 0 -7px;
	padding: 0 10px;
	height: 100%;
}

#game-chooser h2 {
	font-size: 1.2em;
	cursor: pointer;
	padding-left: 1em;
}

p {
	margin-bottom: 1em;
}

#game-chooser.show {
	display: block;
}

#game-chooser, #options-chooser {
	display: none;
	position: absolute;
	background: #fff;
	left: 4em;
	top: 4em;
	width: 58em;
	height: 41em;
	z-index: 1001;
	padding-top: 2em;
	padding-right: 1em;
	border: 1px solid #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
	-o-box-shadow: 2px 2px 5px #000;
	-box-shadow: 2px 2px 5px #000;
}

#game-chooser-contents > .description {
	position: absolute;
	top: 2.5em;
	left: 18em;
	width: 37em;
}

#game-chooser-contents {
	height: 100%;
}

#descriptions {
	width: 15em;
	background: #eec;
	padding-top: 2em;
	margin-top: -2em;
	height: 100%;
}

#descriptions div {
	display: none;
	position: absolute;
}

#descriptions li {
	padding: 0.5em 0 0.5em 0;
	border-bottom: 1px solid #000;
}

#descriptions li:hover {
	background: #fff;
}

.selected {
	background: #fff;
}

.layout {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.titlebar {
	height: 2em;
	width: 100%;
	background: #147243;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom: 1px #000 solid;
}

.close {
	position: absolute;
	right: 1px;
	top: -1px;
	background: url("x.gif");
	height: 35px;
	width: 35px;
	cursor: pointer;
}

#win_display {
	background-color: #EEC;
	width: 35em;
	height: 15em;
	margin: 0 auto;
	top: 5em;
	z-index: 1000;
	border-radius: 10px;
	padding: 1em;
	-webkit-box-shadow: 0 0 10px 3px #fff;
	-moz-box-shadow: 0 0 10px 3px #fff;
	-o-box-shadow: 0 0 10px 3px #fff;
	-box-shadow: 0 0 10px 3px #fff;
}

#win_display > p {
	font-size: 2.2em;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

#win_display > h2 {
	margin-bottom: 1em;
	font-size: 1.3em;
}

#win_display ul {
	font-size: 1.1em;
}

#win_display li {
	margin-bottom: 0.2em;
}
