@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'), local('Questrial-Regular'), url('font/questrial.woff') format('woff');
}

html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	z-index: -100;
}

body {
	background-attachment: fixed;
	font-family: helvetica, verdana, sans;
	z-index: -99;
	overflow: hidden;
}

ul {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.loading {
	z-index: 10000;
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.hidden {
	display: none;
}

.card, .stack {
	position: absolute;
}

.stack {
	z-index: -10;
}

.playable {
	cursor: pointer;
	border-radius: 7px;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}

.playable:hover {
	box-shadow: 0 0 6px 4px rgba(255, 252, 143, 0.9);
	-webkit-transition: box-shadow 0s;
	-moz-transition: box-shadow 0s;
	-ms-transition: box-shadow 0s;
	transition: box-shadow 0s;
}

.top-menu {
	border-style: solid;
	background: #eee;
	background: -webkit-linear-gradient(#fff, #ddd);
	background: -moz-linear-gradient(#fff, #ddd);
	background: -o-linear-gradient(#fff, #ddd);
	background: -ms-linear-gradient(#fff, #ddd);
	box-shadow: 0 1px 12px 0.5px #000;
}

#menu {
	display: table;
	height: 35px;
	margin: 0 auto;
	border-radius: 0 0 15px 15px;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	list-style: none;
}

#menu li {
	height: 35px;
	float: left;
	border-right: 1px solid #444;
}

#menu li.end {
	border: none;
	border-radius: 0 0 15px 0;
}

#menu li.begin {
	border-radius: 0 0 0 15px;
}

#menu li:hover {
	background: #bbb -webkit-linear-gradient(#fff, #bbb);
	background: #bbb -moz-linear-gradient(#fff, #bbb);
	background: #bbb -ms-linear-gradient(#fff, #bbb);
	background: #bbb -o-linear-gradient(#fff, #bbb);
}

#menu a {
	display: block;
	margin: 7px 0 -7px;
	padding: 0 10px;
	height: 100%;
}

#menu li.end a {
	padding-right: 12px;
}

#menu .divider {
	border-right: #000 solid 2px;
}

p {
	margin-bottom: 16px;
}

#game-chooser {
	background-attachment: fixed;
	display: none;
	position: absolute;
	padding: 50px 35px;
	left: 0;
	top: 0;
	z-index: 1001;
}

#game-chooser.show {
	display: block;
}

#game-chooser h2 {
	font: 20px Questrial;
	
	text-align: center;
	padding: 6px 0 6px 0;
	background: rgba(255, 255, 255, 0.5);
}

.titlebar {
	display: none;
}

#game-chooser-contents, #description {
	display: inline-block;
}

#game-chooser-contents > .description {
	width: 100%;
	height: 100%;
}

#descriptions div {
	position: absolute;
	width: 100%;
	height: 127px;
	overflow: hidden;
}

#descriptions li {
	border: 2px solid #eec;
	border-radius: 7px;
	float:  left;
	width: 250px;
	height: 150px;
	margin: 10px;
	background-color: #EEC;
	background-image: -webkit-linear-gradient(#EEC, #a1a172);
	background-image: -moz-linear-gradient(#EEC, #a1a172);
	background-image: -ms-linear-gradient(#EEC, #a1a172);
	background-image: -o-linear-gradient(#EEC, #a1a172);
	overflow: hidden;
	cursor: pointer;
}

#descriptions li:hover {
	background: #eec;
}

#game-chooser .selected {
	background: #fff;
}

.close {
	position: absolute;
	right: 1px;
	top: -1px;
	background: url("x.gif");
	height: 35px;
	width: 35px;
	cursor: pointer;
}

#win-display {
	background-color: #EEC;
	width: 550px;
	height: 240px;
	margin: 0 auto;
	top: 80px;
	z-index: 1000;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px 3px #fff;
}

#win-display > p {
	font-size: 2.2em;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

#win-display > h2 {
	margin-bottom: 1em;
	font-size: 1.3em;
}

#win-display ul {
	font-size: 1.1em;
}

#win-display li {
	margin-bottom: 0.2em;
}

#solver-bar {
	width: 500px;
	height: 15px;
	padding: 10px;
	background-color: black;
	background-image: -webkit-linear-gradient(#000, #222);
	background-image: -moz-linear-gradient(#000, #222);
	background-image: -ms-linear-gradient(#000, #222);
	background-image: -o-linear-gradient(#000, #222);
	position: fixed;
	bottom: 0;
	left: 25%;
	border-radius: 15px 15px 0 0;
	color: #ddd;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 1px 12px 0.5px #000;
}

.indicator {
	float: left;
}

.controls {
	float: right;
	height: 20px;
	margin: -2px 50px 0 0;
	cursor: pointer;
}

.controls > div {
	margin-right: 15px;
	float: left;
}

.play {
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #ddd;
}

.play:hover {
	border-left-color: #32c700;
}

.pause {
	top: 0;
	width: 4px;
	height: 20px;
	border-color: #ddd;
	border-left: 5px solid;
	border-right: 5px solid;
}

.pause:hover {
	border-color: #32c700;
}

.rewind {
	top: 0;
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 15px solid #ddd;
}

.rewind:after {
	position: absolute;
	top: -10px;
	left: -3px;
	height: 20px;
	width: 4px;
	background: #ddd;
	content: "";
}

.rewind:hover {
	border-right-color: #32c700;
}

.rewind:hover:after {
	background: #32c700;
}

.fastforward {
	top: 0;
	height: 0px;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #ddd;
}

.fastforward:after {
	position: absolute;
	top: -10px;
	right: -3px;
	height: 20px;
	width: 4px;
	background: #ddd;
	content: "";
}

.fastforward:hover {
	border-left-color: #32c700;
}

.fastforward:hover:after {
	background: #32c700;
}

.scrollable {
	overflow-y: scroll;
}

#social {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 2;
}

.layout {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto 10px auto;
}

.agnes .layout {
	background-image: url(layouts/mini/agnes.png);
}

.flower-garden .layout {
	background-image: url(layouts/mini/flower-garden.png);
}

.forty-thieves .layout {
	background-image: url(layouts/mini/forty-thieves.png);
}

.freecell .layout {
	background-image: url(layouts/mini/freecell.png);
}

.golf .layout {
	background-image: url(layouts/mini/golf.png);
}

.grandfathers-clock .layout {
	background-image: url(layouts/mini/gclock.png);
}

.klondike .layout {
	background-image: url(layouts/mini/klondike.png);
}

.klondike1t .layout {
	background-image: url(layouts/mini/klondike1t.png);
}

.monte-carlo .layout {
	background-image: url(layouts/mini/montecarlo.png);
}

.pyramid .layout {
	background-image: url(layouts/mini/pyramid.png);
}

.scorpion .layout {
	background-image: url(layouts/mini/scorpion.png);
}

.spider .layout {
	background-image: url(layouts/mini/spider.png);
}

.spider1s .layout {
	background-image: url(layouts/mini/spider1s.png);
}

.spider2s .layout {
	background-image: url(layouts/mini/spider2s.png);
}

.spiderette .layout {
        background-image: url(layouts/mini/spiderette.png);
}

.tri-towers .layout {
	background-image: url(layouts/mini/tritowers.png);
}

.will-o-the-wisp .layout {
	background-image: url(layouts/mini/will-o-the-wisp.png);
}

.yukon .layout, .russian-solitaire .layout {
	background-image: url(layouts/mini/yukon.png);
}

.simple-simon .layout {
	background-image: url(layouts/mini/simple-simon.png);
}

.seven-toes .layout {
	background-image: url(layouts/mini/seven-toes.png);
}

.alternations .layout {
	background-image: url(layouts/mini/alternations.png);
}

.acesup .layout {
	background-image: url(layouts/mini/aces-up.png);
}

.bakersdozen .layout {
	background-image: url(layouts/mini/bakers-dozen.png);
}

.baroness .layout {
	background-image: url(layouts/mini/baroness.png);
}

.eightoff .layout {
	background-image: url(layouts/mini/eightoff.png);
}

.thefan .layout {
	background-image: url(layouts/mini/the-fan.png);
}

.labellelucie .layout {
	background-image: url(layouts/mini/la-belle-lucie.png);
}

.canfield .layout {
	background-image: url(layouts/mini/canfield.png);
}

.doubleklondike .layout {
	background-image: url(layouts/mini/doubleklondike.png);
}

.calculation .layout {
	background-image: url(layouts/mini/calculation.png);
}

.bisley .layout {
	background-image: url(layouts/mini/bisley.png);
}

.king-albert .layout {
	background-image: url(layouts/mini/king-albert.png);
}

button {
	font-size: 18px;
	margin-right: 27px;
	background-color: #eec;
	background-image: -webkit-linear-gradient(white, #EEC);
	background-image: -moz-linear-gradient(white, #EEC);
	background-image: -ms-linear-gradient(white, #EEC);
	background-image: -o-linear-gradient(white, #EEC);
	padding: 6px 17px;
	border-radius: 5px;
	box-shadow: inset 0 0 3px 1px #fff;
	border: #000 solid 1px;
	text-shadow: 1px 1px 1px white;
	cursor: pointer;
}

button:hover {
	box-shadow: none;
}

.replay-options {
	display: table;
	margin: 20px auto;
}

.description blockquote {display: none;}
.description h3 {display: none;}
.description p {display: none;}

.chromestore {
	position: fixed;
	right: 0;
	bottom: 0;
}

.chromestore .hide {
	display: block;
	font: 20px Questrial;
	text-align: right;
	padding: 0 7px 5px 0;
}

.chromestore .hide:hover {
	color: #EEC;
}

.chromestore img {
	background: #fff;
	display: block;
}

.popup {
	width: 700px;
	margin: 25px auto;
	padding: 7px;
	border-radius: 7px;
	background: #222;
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
	z-index: 1001;
}

.popup-content {
	background-color: #fff;
	background: -webkit-linear-gradient(white 50%, #ddd);
	background: -moz-linear-gradient(white 50%, #ddd);
	background: -ms-linear-gradient(white 50%, #ddd);
	background: -o-linear-gradient(white 50%, #ddd);
	padding: 20px 20px 70px 20px;
	font-family: Questrial;
	font-size: 20px;
}

.tabview .yui3-tabview-panel {
	border: #666 1px solid;
	padding: 20px 20px 4px 20px;
	border-radius: 0 0 6px 6px;
}

.tabview .yui3-tab {
	border-radius: 6px 6px 0 0;
	margin-right: 10px;
	padding: 3px 6px;
	text-shadow: 1px 1px 1px #ccc;
}

.tabview .yui3-tab-selected {
	background-color: #111;
	background: -webkit-linear-gradient(#111 50%, #666);
	background: -moz-linear-gradient(#111 50%, #666);
	background: -ms-linear-gradient(#111 50%, #666);
	background: -o-linear-gradient(#111 50%, #666);
}

.tabview .yui3-tab-selected .yui3-tab-label {
	color: #eee;
	text-shadow: 1px 1px 1px #555;
}

.tabview .yui3-tab-label:focus {
	outline: 0;
}

.card-preview {
	display: inline-block;
	margin: 15px 5px 0 0;
	width: 210px;
	cursor: pointer;
}

.card-preview img {
	height: 128px;
	margin-right: 10px;
}

.backgrounds {
	max-height: 470px;
	overflow-y: scroll;
}

#background-options h3 {
	margin-bottom: 10px;
}

.backgrounds .background {
	height: 100px;
	margin-bottom: 10px;
	cursor: pointer;
}

#game-chooser .close-chooser {
	width: 300px;
	margin: 20px auto;
}

#game-chooser .close-chooser:hover {
	background-color: #a1a172;
	background-image: -webkit-linear-gradient(#EEC, #a1a172);
	background-image: -moz-linear-gradient(#EEC, #a1a172);
	background-image: -ms-linear-gradient(#EEC, #a1a172);
	background-image: -o-linear-gradient(#EEC, #a1a172);
}

.close-chooser, .popup-button {
	font-size: 20px;
	border: 0px;
	margin: 20px 0 0 10px;
	display: block;
}

.popup-button {
	width: auto;
	float: right;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#f0f0f0 50%, #bbb);
	background-image: -moz-linear-gradient(#f0f0f0 50%, #bbb);
	background-image: -ms-linear-gradient(#f0f0f0 50%, #bbb);
	background-image: -o-linear-gradient(#f0f0f0 50%, #bbb);
	border:0;
}

#options-chooser {
	width: 730px;
}

#background {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -10000;
	width: 100%;
	height: 100%;
}

a.external {
	color: blue;
	border-bottom: 1px dotted blue;
}

.features {
	margin: 25px 0 25px 0;
}

.features ul {
	list-style-type: disc;
	margin-left: 30px;
}

#rules-popup .description blockquote, #rules-popup .description h3{
	display: block;
}

#rules-popup blockquote {
	line-height: 1.3;
	font-size: 18px;
}

.small-rules-table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 0.8em;
	}

.small-rules-table td {
	text-align: center;
	padding: 0 0.5em 0 0.5em;
 }
 
.wide-columns td {
	width: 7em;
	padding: 0 0 0 0;
 }
 
 .long-rules {
 max-height:470px;
 overflow:scroll;
 }

 #adleft {
	left: 0px;
}

#adright {
	right: 0px;
}

.skyscraper {
	position: absolute;
	top: 70px;
	width: 160px;
	height: 600px;
	z-index: -100;
}

.infogroup {
	height: 150px;
	margin: 20px 0 0 20px;
	width: 340px;
}

.infonav, .infopanel {
	float: left;
	line-height: 1.5;
}

.infonav {
	height: 100%;
	background: #000;
	text-shadow: 2px 2px 1px #333;
}

.infopanel {
	padding: 0 0 0 10px;
	width: 230px;
}

.navli {
	display: block;
	color: #fff;
	padding: 0 5px;
}

.panelli {
	margin: 0;
	text-shadow: 1px 1px 1px #eee;
}

.panellabel::after {
	content: ":";
}

.panelvalue {
	position: absolute;
	right: 0;
}

.stats-title {
	background: rgba(220, 220, 220, 0.8) url(DownArrowSmall.png) no-repeat 97%;
	padding: 5px;
	border-radius: 5px;
	border: 3px solid transparent;
	z-index: 10;
}

.stats-title:hover {
	border: 3px solid #000;
	cursor: pointer;
}

.popup-title-content {
	position: absolute;
	background: white;
	padding: 15px 0px 15px 40px;
	margin-top: -5px;
	box-shadow: 0 5px 5px 1px rgba(50, 50, 50, 0.5);
	z-index: 5;
}

.stats-gameli {
	float: left;
	width: 180px;
	padding-left: 10px;
	font-size: 18px;
	line-height: 1.3;
	cursor: pointer;
	text-shadow: 1px 1px 1px #f0f0f0;
	border-radius: 5px;
}

.stats-gameli:hover {
	background: #ddd;
}

#seed-value-bar {
	position: fixed;
	top: 0;
	right: 0;
	height: 15px;
	padding: 6px 10px 14px 10px;
	border-radius: 0 0 0 15px;
}

#seed-value-bar.bottom {
	top: auto;
	bottom: 0;
	border-radius: 15px 0 0 0 ;
}

#seed-value {
	font-weight: bold;
}

.hint {
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}

.hint-from {
	box-shadow: 0 0 6px 4px rgba(255, 252, 143, 0.9);
}

.hint-to {
	box-shadow: 0 0 6px 4px rgba(143, 252, 143, 0.9);
}

#confirmation {
	position: absolute;
	z-index: 10000;
}

#confirmation-popup {
	top: 120px;
	width: 300px;
}