<!doctype html>
<% if development || offline%>
<html>
<% else %>
<html manifest="cache.manifest">
	<!--
	Hi! There's no useful source code on this page :(
	BUT!! There is at index-dev.html and Solitairey's Github page https://github.com/pharrington/Solitairey :)
	happy hacking
	-->

<% end %>
<head>
	<title>Solitairey - Beautiful HTML5 Solitaire</title>
	<meta name="description" content="A modern solitaire collection for the web. Built with HTML5 and Javascript.">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<meta name="apple-mobile-web-app-capable" content="yes">
				<meta property="fb:admins" content="100000659492810">
				<link rel="stylesheet" href="yui-tabview.css">
	<link rel="stylesheet" href="cards.css">
	<![if lt IE 9]>
	<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css">
	<![endif]>
<% unless development %>
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-9447574-2']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
<% end %>
</head>
<body>
<% unless development %>
<div id=social>
	<iframe id="fb" src="http://www.facebook.com/plugins/like.php?href=www.solitairey.com&amp;layout=button_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	<form id=donate action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="jordanlool@gmail.com">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Solitairey Card Games donations">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
<% end %>
	<ul id="menu" class="top-menu">
		<li class="begin">
			<a id="new-deal">Deal New Cards</a>
		</li>
		<li>
			<a id="restart">Restart Game</a>
		</li>
		<li>
			<a id="choose-game">Choose Solitaire Game...</a>
		</li>
								<li class="divider">
			<a id="undo">Undo</a>
		</li>
		<li>
			<a id="stats">Stats</a>
		</li>
								<li>
			<a id="choose-options">Options</a>
		</li>
		<li>
			<a id="rules">Rules</a>
		</li>
								<li class="end">
			<a id="about">About</a>
		</li>
	</ul>
	<div id="rules-popup" class="hidden popup"><div class="popup-content">
					<button class="popup-button close-chooser">OK</button>
	</div></div>
	<div id="about-popup" class="hidden popup"><div class="popup-content">
					<p>
					Solitairey is a collection of Solitaire games created by me, <a class="external" href=http://www.facebook.com/lordpharrington>Paul Harrington</a>.<br />
					I found the book <a class="external" href="http://www.amazon.com/gp/product/1314837672/ref=as_li_qf_sp_asin_tl?ie=UTF8&tag=solitairey-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1314837672">150 Ways to Play Solitaire</a> in an old bookstore one day and was fascinated by its huge variety of solitaires, having only known about Freecell and Klondike from playing on the computer.
					Solitairey was a way for me to try out the games I saw that looked fun, while providing an easy way for other people to play.
					</p>
					
					<div class="features">
						Current features include:
						<ul>
							<li>Over 30 complete games</li>
							<li>Hi res full screen graphics</li>
							<li>Unlimited undo</li>
							<li>Automatic progress saving; start where you left off even after closing your browser</li>
							<li>Statistics tracking</li>
							<li>Customizable card and background graphics</li>
							<li>Togglable autoplay, automatic card flipping and animations</li>
							<li>Freecell solver</li>
						</ul>
					</div>

					<hr />
					<p>
					If you like these games, click the Facebook like button and tell your friends about it!
					You can also find this on the <a class="external" href=https://chrome.google.com/webstore/detail/dofbnmhnoodmmlhflbcihicmbnhhinhp>Chrome Web Store</a>; install the app, rate it, and leave your comments.
					If you don't have Chrome, still send feedback by emailing me at <a class="external" href="mailto:paul.c.harrington@gmail.com">paul.c.harrington@gmail.com</a> or <a class="external" href=http://www.facebook.com/lordpharrington>messaging me on Facebook</a>.
					Tell me any games or features you want added, report any bugs you find, or just let me know I'm doing a wonderful job :)
					Have a great day.
					</p>
					<button class="popup-button close-chooser">OK</button>
	</div></div>
	<div id="game-chooser">
		<div id="game-chooser-contents">
		<ul id="descriptions">
			<% if development %>
			<li id="accordion">
				<h2>Accordion</h2>
				<div class="description accordion">
					<div class="layout"></div>
					<h3>Accordion Solitaire Rules</h3>
					<blockquote>
					</blockquote>
				</div>
			</li>
			<% end %>
			<li id="acesup">
				<h2>Aces Up</h2>
				<div class="description acesup">
					<div class="layout"></div>
					<h3>Aces Up Solitaire Rules (Suits Up)</h3>
					<blockquote>
Aces Up is a quick, very simple, and luck-based solitaire game. The goal is to discard everything that's not an Ace.
The top card of each pile is free; any card that is the same suit and lower rank of another free card can be discarded by clicking it.
Free spaces can be filled by any free card. Try to free up spaces whenever you have a chance and undo liberally if you see a better potential series of moves; even with these strategies this solitaire is rarely won. Its still an enjoyable time waster as games go be fast and there's little thinking involved.

					</blockquote>
				</div>
			</li>
			<li id="agnes">
				<h2>Agnes</h2>
				<div class="description agnes">
					<div class="layout"></div>
					<h3>Agnes Solitaire Rules (Agnes Bernauer)</h3>
																				<blockquote>
Agnes is  member of the ever-famous Klondike solitaire family. However, its rules are changed to make the odds of winning the game easier. The first difference between Agnes and Klondike is that the top of the deck is dealt to the first foundation; the rest of the foundations are built up by suit starting with this card's rank. The tableau piles are built the same as in Klondike, down by suit and in alternating colors. Ranks in this game wrap around, so a king or pile starting with a king can be played on an ace. Free tableau spaces can be filled by any card or pile starting with a card that's one less than the foundation seed. The other difference is how the deck is dealt; click the top of the deck to deal one card to each of the seven reserve piles. The top card of each reserve can be played on the foundations or the tableau; empty reserve slots will remain empty until the next deal. When the deck is down to two last cards, they're transferred to the normal wastepile and both are available to play. Since the foundation starts of with one card and many cards are exposed for play at once, Agnes is a game that allows for much more skill and higher odds of winning than its more popular parent.
					</blockquote>
				</div>
			</li>
			<li id="alternations">
				<h2>Alternations</h2>
				<div class="description alternations">
					<div class="layout"></div>
					<h3>Alternations Solitaire Rules</h3>
					<blockquote>
Alternations is a medium length solitaire game using two decks of cards. The game is won when all eight foundations are built up in rank and suit from Ace to King. Build the tableaus down in rank; suit does not matter. Full or incomplete face-up piles can be placed upon each other, and free spaces may be fill by any card. When you see no more moves available, click the top of the deck to move it to the waste, this card can be played on the foundations or the tableau.
					</blockquote>
				</div>
			</li>
			<li id="bakersdozen">
				<h2>Baker's Dozen</h2>
				<div class="description bakersdozen">
					<div class="layout"></div>
					<h3>Baker's Dozen Solitaire Rules</h3>
																				<blockquote>
The aptly named Baker's Dozen is a fairly easy, yet thoughtful solitaire game. All Kings are automatically moved to the bottom of their respective stacks. Place any uncovered Aces on the foundations, which are built in suit to Kings. Stacks are built downwards in rank without regard to suit, but only one card at a time may be moved. Freed piles cannot be built upon. Be careful to plan ahead and not block any potential future moves, but since nothing is hidden and Kings start out moved out of the way, it's usually possible to win this game with a bit of foresight.
					</blockquote>
				</div>
			</li>
			<li id="bakersgame">
				<h2>Baker's Game</h2>
				<div class="description freecell">
					<div class="layout"></div>
					<h3>Baker's Game Solitaire Rules</h3>
																				<blockquote>
Baker's Game is actually the stricter mother of the much more popular Freecell solitaire. The layout is the same, and the foundations are still built up from Aces to Kings in suit. Free slots can be filled by any card, and any pile in series can be moved as long as there are enough free cells and/or tableau openings. The twist is that stacks are built downwards in rank and suit, so you must plan much more carefully and be a bit luckier to free up slots in this game. Because of this, although harder, winning a game of Baker's Game feels extremely rewarding compared to Freecell.
					</blockquote>
				</div>
			</li>
			<li id="baroness">
				<h2>Baroness</h2>
				<div class="description baroness">
					<div class="layout"></div>
					<h3>Baroness Solitaire Rules (Five Piles, Thirteens)</h3>
					<blockquote>
Baroness is a simple addition solitaire game. The game is won if you can manage to discard the entire deck. Any pair of cards equal to 13 can be discarded, and Kings can be discarded on their own. A unique aspect of this solitaire is that cards are automatically dealt from the deck to ensure there are at least five cards in play at all times. Free slots may be filled by any card, and in fact must be filled before clicking the deck to deal one card to each tableau pile. This solitaire game has fairly good odds of winning if you can discard in such a way as to consistently free up piles.
					</blockquote>
				</div>
			</li>
			<li id="bisley">
				<h2>Bisley</h2>
				<div class="description bisley">
					<div class="layout"></div>
					<h3>Bisley Solitaire Rules</h3>
					<blockquote>
						Bisley is a thoughtful solitaire that rewards skill and foresight. To win, play all tableau cards to the foundations. Kings can be played on the empty foundation slots; build the foundations either up in suit on the Aces, or down in suit on the Kings. The tableau stacks are built up or down by suit, one card at a time. Empty tableau spaces cannot be filled.
					</blockquote>
				</div>
			</li>
			<li id="calculation">
				<h2>Calculation</h2>
				<div class="description calculation">
					<div class="layout"></div>
					<h3>Calculation Solitaire Rules (Broken Intervals)</h3>
					<blockquote>
Calculation is a unique solitaire game. The foundations start with one Ace, two, three, and four, and the goal is to build each, regardless of suit, up to a king. What makes this game unique is that the foundations are built in intervals of one, two, three, and four respectively. For example, build the first foundation as ace -> two -> three, etc; the second foundation is build two -> four -> six, and so on. The top card of the deck can be played on a foundation or on any of the four wastepiles. While there are no restrictions on how to build the waste, once a card is placed there, it can only be subsequently moved to a foundation. These rules give Calculation solitaire an immense allowance for skill. Plan carefully by trying to discard in the same sequences you'd build the foundation, and try to cover as few cards as possible with Kings as they're always played last.
					</blockquote>
				</div>
			</li>
			<li id="canfield">
				<h2>Canfield</h2>
				<div class="description canfield">
					<div class="layout"></div>
					<h3>Canfield Solitaire Rules (Demon)</h3>
					<blockquote>
Canfield is a solitaire game that was originally created to be nearly unwinnable, but due to people easing the rules over the years, it can now often be won with a bit of skill. At first one card is delt from the deck to the first foundation. Build the rest of the foundations up by suit according to this cards rank. Build the tableau by playing cards of descending rank and alternating color; moves of partial or full stacks are also allowed. When you created a free slot, the top card from the reserve, if available, automatically fills it. If the reserve is empty, any card or pile can be moved to a free slot. If no more moves are avaible, click the deck to deal three cards to the waste pile. The top card in the waste and the reserve are always available to play on the foundation or tableau. Once the deck is exhausted, click it to move all the cards from the waste back to the deck again. This can be done without limit. Due to the lax movement rules and the fact that relatively few cards start off unavailable, a good winning strategy for this solitaire is to card on getting all cards from the reserve in play as soon as possible. If you can manage this, then play the waste pile carefully by only moving out cards that open additional moves or let you free tableau spaces. You'll be winning Canfield solitaire in no time!
					</blockquote>
				</div>
			</li>
			<li id="doubleklondike">
				<h2>Double Klondike</h2>
				<div class="description doubleklondike">
					<div class="layout"></div>
					<h3>Double Klondike Solitaire Rules</h3>
																				<blockquote>
Double Klondike plays exactly like Klondike, except for using two decks and having nine tableaus instead of seven. But because alot more moves are possible, its much easier to win at this solitaire. Build up the foundations in suit from Ace to King. Build tableaus downwards by alternating color. Free tableau spaces can be fill only by kings. Click the deck to deal three cards to the waste, the top of which is playable. Click the deck to move all cards from the waste back to the deck.
																				</blockquote>
				</div>
			</li>
			<li id="eightoff">
				<h2>Eight Off</h2>
				<div class="description eightoff">
					<div class="layout"></div>
					<h3>Eight Off Solitaire Rules</h3>
																				<blockquote>
Eightoff is an older ancestor in the Freecell lineage of solitaire, and provides some interesting twists if you’re used to racking up hundreds of wins in Freecell. You have eight reserve slots available, but one card is immediately dealt to the first four. Tableaus are built down in rank and suit. The rest of the rules are the same as Freecell. Overall it’s about as winnable a solitaire as its more popular grandchild, and the same general strategy applies: focus on emptying piles with cards you can move to the foundation as soon as possible.
					</blockquote>
				</div>
			</li>
			<li id="thefan">
				<h2>The Fan</h2>
				<div class="description thefan">
					<div class="layout"></div>
					<h3>The Fan Solitaire Rules</h3>
					<blockquote>
The Fan plays like La Belle Lucie, but with two twists. If you clear a fan, you can than place any King in its place. But because this opens so many additional possibilities, you are not allowed to reshuffle the playing field. Regardless, The Fan makes for an enjoyable solitaire thats fairly winnable if you take the time to plan many moves ahead.
					</blockquote>
				</div>
			</li>
			<li id="flower-garden">
				<h2>Flower Garden</h2>
				<div class="description flower-garden">
					<div class="layout"></div>
					<h3>Flower Garden Solitaire Rules</h3>
																				<blockquote>
Flower Garden is a solitaire game that requires a good deal of planning ahead, but is more winnable that if first appears. The tableaus are build downwards in rank and suit, and only one card can be moved at a time. The entire reserve is immediately available to play on the tableau or foundations; keep in mind though that the larger a tableau stack is, the harder it is to get at its buried cards. If you are able to free one or two tableau spaces without playing too many cards from the reserve, you stand a pretty good chance of beating this solitaire.
					</blockquote>
				</div>
			</li>
			<li id="forty-thieves">
				<h2>Forty Thieves</h2>
				<div class="description forty-thieves">
					<div class="layout"></div>
					<h3>Forty Thieves Solitaire Rules (Napoleon at Saint Helena, Roosevelt at San Juan, Big Forty)</h3>
																				<blockquote>
Forty Thieves is probably the most popular solitaire game played with two decks, but it takes a lot of time, luck, and skill to win. Build the foundations up in suit from Ace to King. The tableaus are build downwards by suit, and only one card can be moved at a time. Empty tableau slots can be filled by any card. If play is exhausted, click the deal to upturn the top card; this can be played on any foundation or tableau.
					</blockquote>
				</div>
			</li>
			<li id="freecell">
				<h2>Freecell</h2>
				<div class="description freecell">
					<div class="layout"></div>
					<h3>Freecell Solitaire Rules</h3>
																				<blockquote>
Freecell is a fairly modern solitaire game that was popularized by its inclusion on many computer systems. Unlike most solitaires, almost no luck is involved and with strategy more than 99.9% of its games can be won.  Build the foundations up from Aces to Kings in suit. Build the tableaus down by rank and alternating color. Free tableau spaces can be filled by any card, and the free reserve cells can be filled by any one card at a time. Because of this, the length of the piles you can move is limited only by the amount of enough free cells and/or tableau openings. Strategize by building long runs and opening up tableau spaces as early as possible and you’ll be well on your way to winning almost every game of Freecell solitaire you play!
					</blockquote>
				</div>
			</li>
			<li id="golf">
				<h2>Golf</h2>
				<div class="description golf">
					<div class="layout"></div>
					<h3>Golf Solitaire Rules</h3>
																				<blockquote>
Golf is a fairly simple solitaire that allows for a bit of skill. The goal is to discard all cards in the tableau. The top card of each pile is free, cards that are one away from the top of the wastepile may be discarded. Click the deck to deliver one more card to the waste. Try to discard cards that will allow for long streaks of play. If you like Golf solitaire, another popular variant is the pictorial Tri Towers.
					</blockquote>
				</div>
			</li>
			<li id="grandfathers-clock">
				<h2>Grandfather's Clock</h2>
				<div class="description grandfathers-clock">
					<div class="layout"></div>
					<h3>Grandfather's Clock Solitaire Rules</h3>
																				<blockquote>
Grandfather’s Clock is a pictorial solitaire game that involves little strategy, yet is still easy to win. This solitaire’s goal is to build the foundations in suit, up to the pile’s hour position. For example, to complete the top pile starting with the nine of clubs play a 10, Jack, and Queen. On the next play (10 of hearts), play the Jack, Queen, King, and Ace. In this solitaire build the tableaus downwards regardless of suit, but you can only move one card at a time. Even with this restriction Grandfather’s Clock is a solitaire that can often be one with a little be of foresight.
					</blockquote>
				</div>
			</li>
			<% if development %>
			<li id="king-albert">
				<h2>King Albert</h2>
				<div class="description king-albert">
					<div class="layout"></div>
					<h3>King Albert Solitaire Rules</h3>
					<blockquote>
					</blockquote>
				</div>
			</li>
			<% end %>
			<li id="klondike">
				<h2>Klondike</h2>
				<div class="description klondike">
					<div class="layout"></div>
					<h3>Klondike Solitaire Rules (Patience, Fascination)</h3>
																				<blockquote>
Klondike is the most popular solitaire game, so much so that the word “solitaire” immediately brings to mind this specific game. The game is won when all the foundations are built in up rank and suit from Ace to King. The tableaus are built downwards by rank and alternatioing color, and faceup piles of any length can be moved. However, only Kings can fill empty columns. Click the deck to transfer three cards to the wastepile, the top of which is playable. When the deck is exhausted, click it again to replenish it from the cards in the waste. A common strategy to make this solitaire easier is to -not- play cards from the waste unless it gives you an opportunity to turn up a face down card, or if it lets you move a card to the foundation. Another strategy is to work on turning up the larger face down piles first, as this increases the number of cards in play, and in turn the number of moves you can make. Even with this strategies not every game of Klondike solitaire is winnable, but you’ll have a much better success rate. Good Luck!
																				</blockquote>
				</div>
			</li>
			<li id="klondike1t">
				<h2>Klondike (Vegas Style)</h2>
				<div class="description klondike1t">
					<div class="layout"></div>
					<h3>Vegas Klondike Solitaire Rules</h3>
					<blockquote>
Klondike Vegas is the gamblers variety of Klondike solitaire. In this game you turn over only one card from the waste at a time, but you’re not allowed to restock the deck. Since you only have once chance to play every card, you can see why casinos adopted this solitaire.
					</blockquote>
				</div>
			</li>
			<li id="labellelucie">
				<h2>La Belle Lucie</h2>
				<div class="description labellelucie">
					<div class="layout"></div>
					<h3>La Belle Lucie Solitaire Rules</h3>
					<blockquote>
La Belle Lucie is a solitaire game that’s organized into fans, instead of stacks. The top card of each fan can be played either on a foundation or another fan. Foundations are build up in rank and suit; the fans are built down in rank and suit. If you empty a fan, you cannot place another card in its place. Because of this restriction, you can click the click up to two times to shuffle the cards into new fans of three. Even with the reshuffle and thorough, La Belle Lucie is still a solitaire game that requires a great amount of luck to win. This is because if a fan contains a King that is hiding a lower ranked card of the same suit, the hidden card can never be played. If you like La Belle Lucie but prefer a somewhat more strategic and winnable solitaire game, try the aptly named "The Fan."
					</blockquote>
				</div>
			</li>
			<li id="monte-carlo">
				<h2>Monte Carlo</h2>
				<div class="description monte-carlo">
					<div class="layout"></div>
					<h3>Monte Carlo Solitaire Rules</h3>
																				<blockquote>
Monte Carlo is a fun and simple matching type of solitaire. Any two horizontally, vertically, or diagonally adjacent cards of the same rank may be discarded. Then you can click the deck to collapse all empty spaces in the field and deal cards until all five rows are again filled. The game is won when all cards are discarded.
																				</blockquote>
				</div>
			</li>
			<li id="pyramid">
				<h2>Pyramid</h2>
				<div class="description pyramid">
					<div class="layout"></div>
					<h3>Pyramid Solitaire Rules</h3>
																				<blockquote>
Pyramid is a simple addition solitaire that is very hard to consistently win. The goal is to discard every card in the deck. Play by discarding any pair of free cards that add to 13; Kings may be discarded on their own. Click the deck to transfer the top card to the waste; the tops of both the waste and the deck are available to play.
																				</blockquote>
				</div>
			</li>
			<li id="russian-solitaire">
				<h2>Russian Solitaire</h2>
				<div class="description russian-solitaire">
					<div class="layout"></div>
					<h3>Russian Solitaire Rules</h3>
																				<blockquote>
Russian Solitaire is a variant of Yukon. The main difference is that stacks can only be built downwards by suit instead of alternating color; this difference only though makes Russian solitaire a far more difficult game to win. The rules otherwise are the same. Play the foundations from Ace to King according to suit, any face up card in the tableau can be moved, and free spaces may be filled with Kings.
																				</blockquote>
				</div>
			</li>
			<li id="scorpion">
				<h2>Scorpion</h2>
				<div class="description scorpion">
					<div class="layout"></div>
					<h3>Scorpion Solitaire Rules</h3>
																				<blockquote>
Scorpion solitaire is an incredibly difficult and luck-reliant run-building solitaire. The game is won when four complete runs from Ace to King are built and then discarded. All face up cards are available for play, runs are build downwards in suit. Free columns may be filed with stacks starting with a King. When you run out of available moves, click the stock to transfer the three remaining cards to the first three tableaus.
																				</blockquote>
				</div>
			</li>
			<li id="seven-toes">
				<h2>Seven Toes</h2>
				<div class="long-rules description seven-toes">
					<div class="layout"></div>
					<h3>Seven Toes Solitaire Rules</h3>
					<blockquote>
Seven Toes is a very difficult mash-up of Klondike and Calculation, and you might want to learn Calculation before attempting it.
It uses the same modulus-13 arithmetic as Calculation, but requires you to think in all 12 possible increment values.
Winning will take skill and time.
The deck consists of 52 + 26 = 72 cards; spades and hearts all have duplicates. 
Manipulate stacks as shown, keeping suits together when possible:
<br><br>
<table class="small-rules-table">
	<tr>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
	</tr>
	<tr>
		<td>A</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td>10</td>
		<td>J</td>
		<td>Q</td>
	</tr>
	<tr>
		<td>2</td>
		<td>4</td>
		<td>6</td>
		<td>8</td>
		<td>10</td>
		<td>Q</td>
		<td>A</td>
		<td>3</td>
		<td>5</td>
		<td>7</td>
		<td>9</td>
		<td>J</td>
	</tr>
	<tr>
		<td>3</td>
		<td>6</td>
		<td>9</td>
		<td>Q</td>
		<td>2</td>
		<td>5</td>
		<td>8</td>
		<td>J</td>
		<td>A</td>
		<td>4</td>
		<td>7</td>
		<td>10</td>
	</tr>
	<tr>
		<td>4</td>
		<td>8</td>
		<td>Q</td>
		<td>3</td>
		<td>7</td>
		<td>J</td>
		<td>2</td>
		<td>6</td>
		<td>10</td>
		<td>A</td>
		<td>5</td>
		<td>9</td>
	</tr>
	<tr>
		<td>5</td>
		<td>10</td>
		<td>2</td>
		<td>7</td>
		<td>Q</td>
		<td>4</td>
		<td>9</td>
		<td>A</td>
		<td>6</td>
		<td>J</td>
		<td>3</td>
		<td>8</td>
	</tr>
	<tr>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
	</tr>
	<tr>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
		<td>(K)</td>
	</tr>
	<tr>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
		<td>[...]</td>
	</tr>
</table>
<br>
To win the game, you will need to arrange the cards into 6 stacks of 13, each starting with a King and of a single suit. 
The stacks must all be different, and must be based on either A-6 or 7-Q.
The following is an example of an A-6 based win:
<br><br>
<table class="small-rules-table wide-columns">
	<tr>
		<th>Spades</th>
		<th>Hearts</th>
		<th>Clubs</th>
		<th>Diamonds</th>
		<th>Spades</th>
		<th>Hearts</th>
	</tr>
	<tr>
		<td>K</td>
		<td>K</td>
		<td>K</td>
		<td>K</td>
		<td>K</td>
		<td>K</td>
	</tr>
	<tr>
		<td>A</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
	</tr>
	<tr>
		<td>2</td>
		<td>4</td>
		<td>6</td>
		<td>8</td>
		<td>10</td>
		<td>Q</td>
	</tr>
	<tr>
		<td>3</td>
		<td>6</td>
		<td>9</td>
		<td>Q</td>
		<td>2</td>
		<td>5</td>
	</tr>
	<tr>
		<td>4</td>
		<td>8</td>
		<td>Q</td>
		<td>3</td>
		<td>7</td>
		<td>J</td>
	</tr>
	<tr>
		<td>5</td>
		<td>10</td>
		<td>3</td>
		<td>7</td>
		<td>Q</td>
		<td>4</td>
	</tr>
	<tr>
		<td>6</td>
		<td>Q</td>
		<td>5</td>
		<td>J</td>
		<td>4</td>
		<td>10</td>
	</tr>
	<tr>
		<td>7</td>
		<td>A</td>
		<td>8</td>
		<td>2</td>
		<td>9</td>
		<td>3</td>
	</tr>
	<tr>
		<td>8</td>
		<td>3</td>
		<td>J</td>
		<td>6</td>
		<td>A</td>
		<td>9</td>
	</tr>
	<tr>
		<td>9</td>
		<td>5</td>
		<td>A</td>
		<td>10</td>
		<td>6</td>
		<td>2</td>
	</tr>
	<tr>
		<td>10</td>
		<td>7</td>
		<td>4</td>
		<td>A</td>
		<td>J</td>
		<td>8</td>
	</tr>
	<tr>
		<td>J</td>
		<td>9</td>
		<td>7</td>
		<td>5</td>
		<td>3</td>
		<td>A</td>
	</tr>
	<tr>
		<td>Q</td>
		<td>J</td>
		<td>10</td>
		<td>9</td>
		<td>8</td>
		<td>7</td>
	</tr>
</table>
<br>
Good luck!
Keep your waste pile small, and be careful not to move too many single cards onto kings until late in the game.
For a somewhat easier version, just try to assemble the cards as above, but with mixed suits.
					</blockquote>
				</div>
			</li>
			<li id="simple-simon">
				<h2>Simple Simon</h2>
				<div class="description simple-simon">
					<div class="layout"></div>
					<h3>Simple Simon Solitaire Rules</h3>
																				<blockquote>
Simple Simon, despite its name, is a actually very skillful solitaire. It’s somewhat similar to Spider solitaire; the goal is to make four in-suit runs from Ace to King, which will be automatically discarded. Any in-suit run or single card at the bottom of a pile may be moved, and these piles may be moved onto any free card one rank higher than it, regardless of suit. Free spaces can be filled by any card. A good strategy of winning this solitaire is to free as many slots in the beginning of the game as you can. Also while playing, try to avoid moving Kings to free slots if possible, as this will just block off the slot until the whole running beginning with that King is completed.
																				</blockquote>
				</div>
			</li>
			<li id="spider">
				<h2>Spider</h2>
				<div class="description spider">
					<div class="layout"></div>
					<h3>Spider Solitaire Rules</h3>
																				<blockquote>
Spider has been called the “King of Solitaires,” and is rumored to have been a favoriate past-time with Franklin D. Roosevelt. This two pack solitaire tremendously rewards skill, and while not every hand is winnable, experience lets when take advantage of difficult deals much more than in any other solitaire game. To win, make and discard eight in-suit runs from Ace to King. The tableau piles are built downwards, regardless of suit. Any top card or in-suit run on a pile may be played the tableau or a free space. If you see no more available plays, click the deck to deal one card to each tableau pile; note that this can only be done if no piles are empty. Work to uncover as many cards as possible while opening up free spaces. Free spaces are extremely important in Spider solitaire as they let you easily organize out of suit piles and move longer runs of disorganized cards, so avoid playing Kings on them unless absolutely necessary.
																				</blockquote>
				</div>
			</li>
			<li id="spider1s">
				<h2>Spider (1 Suite)</h2>
				<div class="description spider1s">
					<div class="layout"></div>
					<h3>1 Suit Spider Solitaire Rules</h3>
																				<blockquote>
1 Suit Spider is the easy version of Spider solitaire.
																				</blockquote>
				</div>
			</li>
			<li id="spider2s">
				<h2>Spider (2 Suite)</h2>
				<div class="description spider2s">
					<div class="layout"></div>
					<h3>2 Suit Spider Solitaire Rules</h3>
																				<blockquote>
This is the medium difficulty of Spider solitaire. Although not a breeze to win, most deals are in fact winnable, and its still a very skill-reliant type of solitaire.
																				</blockquote>
				</div>
			</li>
			<li id="spiderette">
				<h2>Spiderette</h2>
				<div class="description spiderette">
					<div class="layout"></div>
					<h3>Spiderette Solitaire Rules</h3>
																				<blockquote>
Spiderette solitaire is a one deck version of Spider that uses the same layout as Klondike. Like Spider, the surest way to win is to to uncover many cards and free spaces early on. This solitaire game is still very difficult as a large amount of the deck starts off obscured.
																				</blockquote>
				</div>
			</li>
			<li id="tri-towers">
				<h2>Tri Towers</h2>
				<div class="description tri-towers">
					<div class="layout"></div>
					<h3>Tri Towers Solitaire Rules (Tri Peaks)</h3>
																				<blockquote>
Tri Towers is a variant of Golf solitaire. To play, discard any free card that is one away from the top card in the wastepile. Kings wrap around to Aces, so King -> Ace -> Two is a valid sequence. This solitaire game is one when every card in the towers is discarded. If you can make any more moves, click the deck to turn a new card over to the waste. As in Golf solitaire, try to play long sequences of moves. Another strategy is to prefer discarding cards that are blocking two cards instead of one.
																				</blockquote>
				</div>
			</li>
			<li id="will-o-the-wisp">
				<h2>Will O' The Wisp</h2>
				<div class="description will-o-the-wisp">
					<div class="layout"></div>
					<h3>Will O' The Wisp Solitaire Rules</h3>
																				<blockquote>
Will O’ The Wisp, like Spiderette solitaire, is a one deck version of Spider. Its a bit easier to win this solitaire though as less cards start off buried.
																				</blockquote>
				</div>
			</li>
			<li id="yukon">
				<h2>Yukon</h2>
				<div class="description yukon">
					<div class="layout"></div>
					<h3>Yukon Solitaire Rules</h3>
																				<blockquote>
Yukon is a very skillful solitaire focused on moving piles instead of single cards. To win build all foundations in rank, from Ace to King. All face up cards in the tableau are free to move. Build the tableau stacks downward in color and alternating color; when you move a card, all the cards above it are moved as a stack. Kings can be played on emptied columns. The key to playing Yukon solitaire well is to focus on getting as many cards face up as possible. Only start playing cards to the foundations if no more moves are available. With this type of play, you keep a wealth of possibilities open, greatly increasing the odds of winning this solitaire game.
																				</blockquote>
				</div>
			</li>
		</ul>
		</div>
								<button class=close-chooser>Return to game</button>
	</div>
				<div id=options-chooser class="hidden popup"><div class="popup-content">
					<div class="tabview">
						<ul>
							<li><a href="#play-options">Gameplay</a></li>
							<li><a href="#graphics-options">Cards</a></li>
							<li><a href="#background-options">Backgrounds</a></li>
						</ul>
						<div>
							<div id=play-options>
								<p>
									<label for=animateCards-toggle>Animate Cards</label>
									<input id=animateCards-toggle type=checkbox />
								</p>
								<p>
									<label for=autoplay-toggle>Autoplay Solved Games</label>
									<input id=autoplay-toggle type=checkbox />
								</p>
								<p>
									<label for=autoFlip-toggle>Automatically Flip Cards</label>
									<input id=autoFlip-toggle type=checkbox />
								</p>
								<p>
									<label for=enableSolver-toggle>Enable Solver</label>
									<input id=enableSolver-toggle type=checkbox />
								</p>
							</div>
							<div id=graphics-options>
								<h3>Available Decks</h3>
								<ul class=cards>
								</ul>
							</div>
							<div id=background-options>
								<h3>Backgrounds</h3>
								<ul class=backgrounds>
								</ul>
							</div>
						</div>
					</div>
					<button class="popup-button close-chooser">OK</button>
	</div></div>
	<img src=loading.gif class="loading hidden">
	<div class="chromestore hidden">
	<% unless offline %>
		<a class=hide>[Hide]</a>
								<a href=https://chrome.google.com/webstore/detail/dofbnmhnoodmmlhflbcihicmbnhhinhp>
									<img src=ChromeWebStore_Badge_v2_206x58.png>
								</a>
	<% end %>
	</div>
	<div id=confirmation class="hidden">
		<div id=confirmation-popup class="popup">
			<div class="popup-content">
				<p id=confirmation-prompt></p>
				<div class="popup-bottom-button-bar">
					<button id=confirmation-deny class="popup-button">No</button>
					<button id=confirmation-affirm class="popup-button">Yes</button>
				</div>
			</div>
		</div>
	</div>
	<div id=stats-popup class="hidden popup">
		<div class="popup-content">
			<div class="popup-title-group">
				<h1 class="stats-title"><span id=stats-game></span> stats</h1>
				<ul class="popup-title-content hidden">
				</ul>
			</div>
			<div class="infogroup">
				<div class="infopanel">
					<p class="panelli">
						<span class=panellabel>Games played</span><span id=stats-gamesplayed class=panelvalue></span>
					</p>
					<p class="panelli">
						<span class=panellabel>Win percentage</span><span id=stats-winpercentage class=panelvalue></span>
					</p>
					<p class="panelli">
						<span class=panellabel>Wins</span><span id=stats-wins class=panelvalue></span>
					</p>
					<p class="panelli">
						<span class=panellabel>Loses</span><span id=stats-loses class=panelvalue></span>
					</p>
					<p class="panelli">
						<span class=panellabel>Current streak</span><span id=stats-currentstreak class=panelvalue></span>
					</p>
					<p class="panelli">
						<span class=panellabel>Best streak</span><span id=stats-beststreak class=panelvalue></span>
					</p>
				</div>
			</div>
			<div class="popup-bottom-button-bar">
				<button class="popup-button close-chooser">OK</button>
				<button id=stats-reset class="popup-button">Reset</button>
			</div>
		</div>
	</div>
	<div id=win-display class="hidden">
		<p>You win! You're awesome.</p>
		<h2><span id=win-display-game></span> stats:</h2>
		<ul>
			<li>Current win streak: <span id=win-display-streak class='streak'></span></li>
			<li>Total wins: <span id=win-display-wins class='wins'></span></li>
			<li>Total loses: <span id=win-display-loses class='loses'></span></li>
			<div class=replay_options>
				<button class=new_deal>New Deal</button>
				<button class=choose_game>Choose Game</button>
			</div>
		</ul>
	</div>
	<div id=seed-value-bar class="top-menu hidden">
		Foundations start with <span id=seed-value></span>
	</div>
<% if development %>
	<!--<script type="text/javascript" src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script>-->
	<script type="text/javascript" src="js/yui-all-min.js"></script>
	<% JS.each do |js| %>
		<script src="js/<%= js %>.js"></script>
	<% end %>
<% else %>
	<script type="text/javascript" src="js/combined-min.js"></script>
<% end %>
<% unless development %>
<div class="skyscraper" id=adleft>
<iframe id=adleftbody width=160 height=600 frameborder=0 scrolling=no></iframe>
</div>
<% end %>
</body>
</html>
